@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 4000% 4000%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  /* background: #23A6D5; */
  
}
.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  width: 100%;
  border-radius: 5px;
  height: auto;
}
.container {
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  box-shadow: 0 10px 40px -10px rgb(0 64 128 / 10%);
  border: 1px solid #eee;
  background: #ffffff;
}
h4 {
  font-weight: 400;
  color: black;
  font-style: italic;
}
.flex {
  margin:auto;
  width: 55%;
  align-items: center;
  justify-content: center;
  
}
.main {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.button{
  position: fixed; 
  width: 100%;
  left: 50px;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(0, 98, 128);
}
.open-button{
  width: 100px;
  border: 0;
  border-radius: 10px;
  float: right;
  font-size: 1em;
  z-index: 1;
  cursor: pointer;
  color: #23A6D5;
  background-color: #00000028;
}

.test {
  width: auto;
  /* min-width: 1000px; */
  /* height: 100%; */
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  }

  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }

input {
  padding: 15px;
  box-shadow: 0 10px 40px -10px rgb(0 64 128 / 10%);
  border: 1px solid #ddd;
  background: #f9fafc;
  width: 70%;
  text-align: center;
  margin: 5px;
  margin-left: 14%;
  border-radius: 15px;
}
